
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="section-sm .MovieDetails">
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <div class="category-sidebar">
                    <div class="widget category-list">
                        <h4 class="widget-header">All Category</h4>
                        <ul class="category-list">
                            @foreach (var item in ViewBag.CategoryList)
                            {
                                <li><a href="/MovieShow/index?Category=@item.Category">@item.Category <span>@item.Count</span></a></li>
                            }
                           
                        </ul>
                    </div>

                    <div class="widget category-list">
                        <h4 class="widget-header">Popular Genre</h4>
                        <ul class="category-list">
                            @foreach (var item in ViewBag.GenreList)
                            {
                                <li><a href="/MovieShow/index?Gid=@item.Gid">@item.Title <span>@item.MovieCount</span></a></li>
                            }
                        </ul>
                    </div>

                    <div class="widget filter">
                        <h4 class="widget-header">Release Year</h4>
                        @Html.DropDownList("ddlYear", (IEnumerable
                    <SelectListItem>)ViewData["YearList"], new { @id = "ddlYear", @class = "form-control" })
                    </div>

                </div>
            </div>
            <div class="col-md-9">
                <div class="category-search-filter">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Sort</strong>

                            <select id="SortList" class="form-control">
                                <option value="">Select</option>
                                <option value="Most-Recent">Most Recent</option>
                                <option value="Most-Popular">Most Popular</option>
                                <option value="Most-Viewed">Most Viewed</option>
                                <option value="Suggested-For-you">Suggested For you</option>
                            </select>
                            @Html.Hidden("sortName", null, new { @id = "hfSortName" })
                        </div>

                    </div>
                </div>
                <div class="product-grid-list">
                    <div class="row mt-30">

                        @if (ViewBag.loadmovie == null)
                        {
                            <h2>No Movies Available</h2>
                        }
                        else
                        {
                            foreach (var item in @ViewBag.loadmovie)
                            {

                               

                                <div class="col-sm-12 col-lg-4 col-md-6">
                                    <!-- product card -->
                                    <div class="product-item bg-light">
                                        <div class="card">
                                            <div class="thumb-content">
                                                <!-- <div class="price">$200</div> -->
                                                <a href="MovieDetails.aspx?Mid=@item.Mid">
                                                    <img class="card-img-top img-fluid" src="/Content/@item.PosterURL" alt="Card image cap">
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title"><a href="/MovieDetails/index?Mid=@item.Mid">@item.Name</a></h4>
                                                <ul class="list-inline product-meta">
                                                    <li class="list-inline-item">
                                                        <a href="">@item.Category</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Rating: @item.Ratings</a>
                                                    </li>
                                                </ul>
                                                <p class="card-text">@item.MovieGenre</p>
                                                <p class="">Release Year: @item.ReleaseYear</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }


                    </div>
                </div>

            </div>
            </div>
</section>

<script type="text/javascript">

    $("body").on("change", "#SortList", function () {
        var info = this.value;
        var url;
        url = "/MovieShow/index/?info=" + info + "";
        window.location.href = url;
    });

    $("body").on("change", "#ddlYear", function () {
        var year = this.value;
        var url;
        url = "/MovieShow/index/?year=" + year + "";
        window.location.href = url;
    });

    //$('#SortList').change(function () {
    //    var url = "/UserRoles/TellMeDate";
    //    // var name = $('#leve').val();
    //    var name = $("#hfSortName").val($(this).find("option:selected").text());
    //    alert(name);
    //    //$.get(url, { parameter: name }, function (data) {
    //    //    alert(data);
    //    //});


    //});

            /*});*/




</script>
