
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <center>
                        <h4 class="font-bold">Latest Reviews</h4>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr>
                </div>
            </div>



            <div class="row">



                <br>
                <div class="col">


                    <div>
                        <table cellspacing="0" rules="all" class="table table-striped table-bordered" border="1" id="MainContent_GridView3" style="border-collapse:collapse;">
                            <tbody>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                                @foreach (var item in Model)
                                {
                              

                                    <tr>
                                        <td>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-lg-10">
                                                        <!--1st Line: Movie Name Release Year-->
                                                        <div class="row">
                                                            <div class="col-12">

                                                                <span id="MainContent_GridView3_MovieName_0" style="font-size:X-Large;font-weight:bold;">@item.Name</span>
                                                                &nbsp;
                                                                <span id="MainContent_GridView3_Label8_0" style="font-size:X-Large;font-weight:bold;">@item.ReleaseYear</span>
                                                            </div>
                                                        </div>

                                                        <!--3rd Line: Category	Language	Global Ratings	 Views-->
                                                        <div class="row">
                                                            <div class="col-12">

                                                                Category:
                                                                <span id="MainContent_GridView3_Label2_0" style="font-weight:bold;">@item.Category</span>
                                                                &nbsp;| Language:
                                                                <span id="MainContent_GridView3_Label3_0" style="font-weight:bold;">@item.Language</span>
                                                                &nbsp;| Global Rating:
                                                                <span id="MainContent_GridView3_Label4_0" style="font-weight:bold;">@item.Ratings</span>
                                                                &nbsp;| Views:
                                                                <span id="MainContent_GridView3_Label9_0" style="font-weight:bold;">@item.NoOfView</span>

                                                            </div>
                                                        </div>
                                                        <!--3rd Line: Reviewr Name  Personal Rating  Review Date -->
                                                        <div class="row">
                                                            <div class="col-12">

                                                                Reviwer Name:
                                                                <span id="MainContent_GridView3_Label5_0" style="font-weight:bold;">@item.UserName</span>
                                                                &nbsp;| Personal Rating:
                                                                <span id="MainContent_GridView3_Label6_0" style="font-weight:bold;">@item.Rating</span>
                                                                &nbsp;| Review Date:
                                                                <span id="MainContent_GridView3_Label7_0" style="font-weight:bold;">@item.ReviewDate</span>

                                                            </div>
                                                        </div>
                                                        <!--4thd Line: Review Message -->
                                                        <div class="row">
                                                            <div class="col-12">


                                                                <span id="MainContent_GridView3_Label1_0" style="font-weight:bold;">@item.Message</span>


                                                            </div>
                                                        </div>
                                                        <!--5th Line: Button -->
                                                        <div class="row">
                                                            <div class="col-12">



                                                                <!--<a href="#15">HyperLink</a>-->
                                                                <a id="MainContent_GridView3_lbtnCustomerName_0" href="/MovieDetails/index?Mid=@item.Mid">
                                                                    View Details

                                                                </a>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-2">
                                                        <img id="MainContent_GridView3_Image1_0" class="img-fluid p-2" src="/content/@item.PosterURL">

                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

